# Force PHP detection
*.php linguist-language=PHP

# Make Hack go away
*.php linguist-detectable=true

# Force CSS detection
*.css linguist-language=CSS

# Force JavaScript detection
*.js linguist-language=JavaScript

# Force JSON detection
*.json linguist-language=JSON

# Force HTML detection
*.html linguist-language=HTML
*.htm linguist-language=HTML

